.article-une-content{
	width: 70%;
}
.article-une a{
	text-decoration: none;
	color: #6e0031;
}

.article-content{
	color: #a6959c;
	font-size: 1.5em
}
.first-three-article{
	margin-top: 10em;
}
.article-img{
	margin-bottom: 3em;	
	width: 25em;
}
.article-img-2{
	margin-bottom: 3em;	
	width: 45em;
}
.grand-format-img{
	width: 100%;
}