.zoom {
  width: 1920px;
  height: 1080px;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
}

.image img {
  transition: all 3s ease;
}

.image:hover img {
  transform:scale(1.35);
}

.titre_grand_format {
    background-color: #6e0031;
    color: #f8f2f4;
    text-align: center;
    height: 10rem;
    margin-top: 0;
    padding-top: 1.5em;
    font-family: 'Coda Caption', sans-serif;
}

.titre_grand_format h2 {
    font-size: 3rem;
    display: block;
}


.container_grande_info {
    background-color: #6e0031;
    display: block;
}

.no-padding > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

.photo {
    position: absolute;
    width: 100%;
    height: 100%;
    padding-right:0;
    padding-left:0;
    z-index: 0;
}

.grande_info {
    background-color: #6e0031;
}

.titre_article {
    position: relative;
    color: #f8f2f4;
    float: left;
    margin-top:-20em;
    z-index: 1;
 /* font-family: 'Passion One', cursive;
    font-family: 'Anton', sans-serif; 
    font-family: 'Coda Caption', sans-serif;
    font-family: 'Changa One', cursive;
    font-family: 'Bowlby One', cursive; */
}

h3 {    
    font-size: 1.5rem;
}

.container-fluid {
    background-color: #6e0031;
}

/* -------------------------------*\
            Button load more
\*--------------------------------*/
.btn-load-more{
    padding: 1em;
    margin-bottom: 2em;

    border: 5px solid #f8f2f4;
    background-color: #6e0031;
    color: #f8f2f4 ;
    
}
.btn-load-more:hover {
    background-color: #f8f2f4!important;
    color: #6e0031 !important;
}

/* MEDIA QUERIES */

/* smartphone (landscape phones, max 479px )---------------------*/
@media (max-width: 479px) {
.titre_grand_format {
    background-color: #6e0031;
    color: #f8f2f4;
    text-align: center;
    height: 25%;
    margin-top: -4.5em;
    padding-top: 1.5em;
}

.titre_grand_format h2 {
    font-size: 1.5rem;
    display: block;
}

.container_grande_info {
    background-color: #6e0031;
    display: block;
}

.no-padding > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

.photo {
    position: absolute;
    width: 100%;
    height: 100%;
    padding-right:0;
    padding-left:0;
    z-index: 0;
}

.grande_info {
        background-color: #6e0031;
}

.titre_article {
    position: relative;
    color: #f8f2f4;
    float: left;
    margin-top:-7em;
    z-index: 1;
}

h3 {    
    font-size: 0.6em;
}

p {
    font-size: 0.5em;
}

.container-fluid {
    background-color: #6e0031;
}s
}

}

/* Medium devices (tablets, 480px and 959px)-------------------*/
@media (min-width: 480px ) and (max-width: 959px ) { 
    .titre_grand_format {
    background-color: #6e0031;
    color: #f8f2f4;
    text-align: center;
    height: 35%;
    margin-top: -4.2em;
    }

    .titre_grand_format h2 {
        font-size: 5%;
        display: inline-block;l
    }

    .container_grande_info {
        background-color: #6e0031;
        display: block;
    }

    .no-padding > [class*='col-'] {
        padding-right:0;
        padding-left:0;
    }

    .photo {
        position: absolute;
        width: 100%;
        height: 100%;
        padding-right:0;
        padding-left:0;
        z-index: 0;
    }

    .grande_info {
        background-color: #6e0031;
        display: block;

    }

    .titre_article {
        position: relative;
        color: #f8f2f4;
        float: left;
        margin-top:-12em;
        z-index: 1;
    }

    h3 {    
        font-size: 1.5em;
    }

    p {
        font-size: 0.5em;
    }

    .container-fluid {
        background-color: #6e0031;
    }
}
   
/* desktops (desktops, 960px and 1280px)---------------------*/
@media (min-width: 960px) and (max-width: 1280px) { 
.titre_grand_format {
    background-color: #6e0031;
    color: #f8f2f4;
    text-align: center;
    height: 10rem;
    margin-top: 0;
    font-family: 'Coda Caption', sans-serif;
    }

.titre_grand_format h2 {
    font-size: 3rem;
    display: block;
    }


.container_grande_info {
    background-color: #6e0031;
    display: block;
    }

.no-padding > [class*='col-'] {
    padding-right:0;
    padding-left:0;
    }

.photo {
    position: absolute;
    width: 100%;
    height: 100%;
    padding-right:0;
    padding-left:0;
    z-index: 0;
    }

.grande_info {
    background-color: #6e0031;
    display: block;
    }

.titre_article {
    position: relative;
    color: #f8f2f4;
    float: left;
    margin-top:-25em;
    z-index: 1;
 /* font-family: 'Passion One', cursive;
    font-family: 'Anton', sans-serif; 
    font-family: 'Coda Caption', sans-serif;
    font-family: 'Changa One', cursive;
    font-family: 'Bowlby One', cursive; */
    }

h3 {    
    font-size: 3rem;
    }

.container-fluid {
    background-color: #6e0031;
    }

.zoom {
  max-width: 1280px;
  max-height: 800px;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
}

.image img {
  transition: all 3s ease;
}

.image:hover img {
  transform:scale(1.35);
}
}

/* Extra large min 1280px---------------------------------*/
@media (min-width: 1281px) { 
.titre_grand_format {
    background-color: #6e0031;
    color: #f8f2f4;
    text-align: center;
    height: 17rem;
    margin-top: -10rem;
    padding-top: 8rem;
    font-family: 'Coda Caption', sans-serif;
    }

.titre_grand_format h2 {
    font-size: 4rem;
    display: block;
    }

.container_grande_info {
    background-color: #6e0031;
    display: block;
    margin-left: 0%;
    margin-left: 0%;
    }

.photo {
    position: absolute;
    width: 100%;
    height: 100%;
    padding-right:0;
    padding-left:0;
    z-index: 0;
    }

.grande_info {
    background-color: #6e0031;
    display: block;
    }

.no-padding > [class*='col-'] {
    padding-right:0;
    padding-left:0;
    }

.titre_article {
    position: relative;
    color: #f8f2f4;
    float: left;
    margin-top:-25em;
    z-index: 1;
 /* font-family: 'Passion One', cursive;
    font-family: 'Anton', sans-serif; 
    font-family: 'Coda Caption', sans-serif;
    font-family: 'Changa One', cursive;
    font-family: 'Bowlby One', cursive; */
    }

h3 {    
    font-size: 3.5rem;
    }

.container-fluid {
    background-color: #6e0031;
    }

.zoom {
  width: 1920px;
  height: 1080px;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
}

.image img {
  transition: all 3s ease;
}

.image:hover img {
  transform:scale(1.35);
}
}