
/* -------------------------------*\
        Border line color
\*--------------------------------*/
.white-line{
  border-bottom: 3px solid #f8f2f4;
  margin-bottom: 1em;
}
.blue-line{
	border-bottom: 3px solid #38528D;
  	margin-bottom: 1em;
}
.red-line{
	border-bottom: 3px solid #C22A4B;
  	margin-bottom: 1em;
}
.yellow-line{
	border-bottom: 3px solid #D3923E;
  	margin-bottom: 1em;
}
#Dossier,
#Partenaires{
    font-size: 3rem;
    color: #f8f2f4;
    text-align: center;
    letter-spacing: -.67px;
}

/* -------------------------------*\
			Dossier
\*--------------------------------*/

/* -------------------------------*\
			Partenaire
\*--------------------------------*/
.img-partenaire{
	margin-bottom: 1em;
}
.list-group-item{
	padding-top: 2em !important;
	padding-bottom: 2em !important;
}
