/* General */
body{

	background-color: #6e0031;
}
/*background-color*/
.bg-white-page{
  background-color: #f8f2f4;
}

/* item center */
.center-container{
  width: 100%;
  text-align: center;
}
.item-center{
  display: inline-block;
}
/* Card */
.profil-img{
  width: 50%;
}